@font-face {
    font-family: Inter;
    src: url(Inter-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(Inter-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url(Inter-Light.ttf);
    font-weight: lighter;
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: antiquewhite;
    color: rgb(12, 12, 12);
}

hr {
    border: 0;
    height: 1px;
    background-color: rgb(12, 12, 12);
    opacity: 1;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar > * {
    margin: 0;
}

.navbar h1 {
    margin: 0;
}

.navbar h2 {
    font-weight: lighter;
}

.navbar img {
    height: 100px;
    object-fit: cover;
}

.main {
    display: flex;
    flex-direction: row;
    
}

.articles {
    width: 80%;
    padding-right: 2em;
    order: 1;
}

.article {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 1em;
}

.article img {
    width: 15em;
    object-fit: contain;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    width: 100%;
    flex-grow: 3;
}

.article-title {
    font-size: 36px;
    font-weight: bolder;
}

.article-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article-page {
    width: 80%;
    margin-right: 2em;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    order: 1;
}

.article-page h1 {
    margin: 0;
}

.article-page p {
    text-align: justify;
}

.sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10em;
    margin-right: 1em;
    order: 2;
}

.rubrics {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: white;
}

.rubrics h2 {
    margin: 0;
}

.rubrics div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 5px;
}

.author {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    width: 100%;
    background-color: white;
}

@media only screen and (max-width: 1000px) {
    .sidebar {
        width: auto;
        order: 1;
        gap: 5px;
        margin: 0 1em;
    }

    .rubrics {
        margin: 0;
        padding-left: 1em;
        width: 100%;
    }

    .author {
        display: none;
    }

    .main {
        flex-direction: column;
    }

    .articles {
        width: 100%;
        padding: 0;
        order: 2;
        margin-top: 1em;
    }

    .article {
        flex-direction: column;
    }

    .article img {
        width: 100%;
    }

    .article-page {
        width: auto;
        padding: 1em;
        margin: 0;
        order: 2;
        margin-top: 1em;
    }

    .article-page img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}