.line {
    display: flex;
    flex-direction: row;
    position: relative; /* Make the container relatively positioned */
}

.line-block {
    width: 20px;
    height: 20px;
    display: flex;
    position: relative; /* Make the container relatively positioned */
}

.line-item {
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.5em;
}

.line-top,
.line-left,
.line-left-mid,
.line-right,
.line-bottom,
.line-mid {
    background-color: white;
    position: absolute;
}

.line-top {
    min-height: 2px;
    max-height: 2px;
    max-width: 20px;
    min-width: 20px;
    align-self: flex-start;
}

.line-left {
    min-height: 20px;
    max-height: 20px;
    max-width: 2px;
    min-width: 2px;
    align-self: flex-start;
}

.line-left-mid {
    min-height: 10px;
    max-height: 10px;
    max-width: 2px;
    min-width: 2px;
    align-self: flex-start;
}

.line-right {
    min-height: 20px;
    max-height: 20px;
    max-width: 2px;
    min-width: 2px;
    right: 0; /* Position at the right edge of the parent */
    align-self: flex-start;
}

.line-bottom {
    min-height: 2px;
    max-height: 2px;
    max-width: 20px;
    min-width: 20px;
    align-self: flex-end;
}

.line-mid {
    min-height: 2px;
    max-height: 2px;
    max-width: 20px;
    min-width: 20px;
    align-self: center;
}
