:root {
    --text: #ffffff;
    --background: #000000;
    --primary: #ff0000;
    --secondary: #444444;
    --accent: #2be9e9;
}

@font-face {
    font-family: Inter;
    src: url(/font/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(/font/Inter-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url(/font/Inter-Light.ttf);
    font-weight: lighter;
}

html {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--background);
    color: var(--text);
    gap: 8em;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

a {
    text-decoration: none;
    color: var(--text);
}

.btn {
    padding: 16px 32px;
    border-radius: 6px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
}

#main {
  display: flex;
  flex-direction: column;
  gap: 20em;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0 ;
}

#navbar a {
    margin: 8px;
    font-size: 16px;
}

#header-wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 200px;
}

#header {
    grid-column: col-start 3 / span 5;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

#header h1 {
    font-size: 48px;
}

#header > h1 span {
    background: linear-gradient(170deg, #FFF 0%, #F00 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#header h2 {
    font-size: 32px;
    font-weight: 400;
}

#header-cta {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#portfolio-wrapper {
    align-self: center;
}

#portfolio-wrapper > h2 {
    margin: 0;
    font-size: 48px;
    margin-bottom: 16px;
}

#portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 70vw;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.portfolio-item > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.portfolio-item > img {
    width: 350px;
    height: 200px;
    border-radius: 6px;
}

.portfolio-item > div h3 {
    margin: 0;
    font-size: 32px;
}

#exp-wrapper {
    align-self: center;
}

#exp-wrapper > h2 {
    margin: 0;
    font-size: 48px;
    margin-bottom: 16px;
}

#exp {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.exp-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.exp-item > img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    margin-right: 8px;
}

.exp-item > div {
    display: flex;
    flex-direction: column;
}

.exp-item > div h3 {
    margin: 0;
    font-size: 32px;
}

.exp-item > div p {
    margin: 0;
}

.exp-line {
    height: 75px;
    width: 3px;
    background-color: var(--primary);
    margin-left: 48px;
}

#about-me {
    width: 70vw;
    align-self: center;
}

#about-me a {
    color: var(--primary);
    text-decoration: underline;
}

#about-me > h2 {
    margin: 0;
    font-size: 48px;
    margin-bottom: 16px;
}

.about-me-content {
    text-align: justify;
}

#contact {
    width: 70vw;
    align-self: center;
}

#contact > h2 {
    margin: 0;
    font-size: 48px;
    margin-bottom: 16px;
}

#contact > p {
    font-size: 32px;
    color: var(--secondary);
}

#footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 ;
    font-size: 16px;
    color: var(--secondary);
    text-align: center;
}

#footer a {
    color: var(--primary);
}

#footer-social {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#footer-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Projects */
.projects-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 0 10em;
}

.project-description a {
    color: var(--primary);
    text-decoration: underline;
}

.project {
    height: 15em;
    display: flex;
    flex-direction: row;
}

.project-image {
    max-height: 15em;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 16px 8px;
}

.project-title {
    font-size: 48px;
}

.project-description {
    text-align: justify;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.error h1 {
    font-family: RobotoThin;
    font-size: 20rem;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.error h2 {
    font-family: RobotoBold;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.photography-container {
    display: flex;
    gap: 3em;
    margin: 0 10em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.photography-container img {
    width: 400px;
    object-fit: cover;
}

.additional-info {
    display: block;
    padding: 20px;
    border: 1px solid var(--primary);
    box-shadow: 5px 5px 0px 5px rgba(255,0,0,1);
    z-index: 9999;
}

.additional-info a {
    color: var(--primary);
    text-decoration: underline;
}

.additional-info-img {
    width: 100%;
}

.additional-info.show {
    display: block;
}

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 50vh;
}

.portfolio > .col {
    width: 45vw;
    margin-bottom: 1em;

}

@media only screen and (max-width: 1000px) {
    #navbar {
        justify-content: center;
    }

    #header-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    #portfolio {
        flex-direction: column;
        gap: 2em;
    }

    #contact {
        width: auto;
    }

    .project {
        flex-direction: column;
        height: auto;
    }

    .project-content {
        margin: 0;
    }

    .projects-container {
        margin: 0;
        gap: 5em;
    }

    .project-image {
        height: auto;
        width: 100%;
    }

    .project-buttons {
        margin-top: 1em;
    }

    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 50vh;
    }
    
    .portfolio > .col {
        width: auto;
    }
}
