AddDefaultCharset UTF-8

Header set Cache-Control "max-age=604800, public"

ErrorDocument 400 /errors/400.html
ErrorDocument 401 /errors/401.html
ErrorDocument 403 /errors/403.html
ErrorDocument 404 /errors/404.html

<FilesMatch "\.(html?|txt|css|js|php|pl)$">
    SetOutputFilter DEFLATE
</FilesMatch>