@font-face {
    font-family: Roboto;
    src: url(./font/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(./font/Roboto-Bold.ttf);
}

@font-face {
    font-family: RobotoItalic;
    src: url(./font/Roboto-Italic.ttf);
}

@font-face {
    font-family: RobotoThin;
    src: url(./font/Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoThinItalic;
    src: url(./font/Roboto-ThinItalic.ttf);
}

body {
    font-family: Roboto;
    background-color: #2e3445;
    color: #dbe8d4;
    overflow-x: hidden;
    margin: 0;
    width: 100vw !important;
}

canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/** NAVIGATION **/
.navbar {
    background-color: #525e65;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0;
    margin: 0;
    width: 100vw;
    z-index: 100;
    box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.5);
}

.navbar-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #dbe8d4;
    line-height: 3em;
    padding: 0 1em;
    cursor: pointer;
}

.navbar-item:hover {
    color: #6fbe9f;
    border-bottom: 0.5em solid #6fbe9f;
    line-height: 2em;
    padding: 0 1em;
    cursor: pointer;
}

.navbar-item-selected {
    color: #6fbe9f;
    font-weight: bold;
    border-bottom: 0.5em solid #6fbe9f;
    line-height: 2em;
    padding: 0 1em;
    cursor: pointer;
}

.navbar a, .navbar a:hover {
    text-decoration: none;
    color: #dbe8d4;
    border-bottom: none;
}

/** HEADER **/
.header {
    text-align: center;
    width: 100vw;
}

.header h1 {
    font-family: RobotoThin;
    font-size: 10rem;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.header h2 {
    font-family: RobotoBold;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

/** MISC **/
a {
    text-decoration: none;
    color: #6fbe9f;
}

a:hover {
    text-decoration: none;
    color: #6fbe9f;
    border-bottom: 1px solid #6fbe9f;
}


/** PROJECTS **/
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 20em;
    margin: 5em;
}

.projects a {
    text-align: center;
}

.projects a:hover {
    border-bottom: none;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 15em;
    margin: 2em;
    padding: 0;
    background-color: #525e65;
    box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: width 1s, height 1s;
}

.project:hover {
    width: 26em;
    height: 16em;
    cursor: pointer;
}

/** ABOUT ME **/
.about-me {
    margin: 5em 5em 0 5em;
    font-size: 1.5rem;
    letter-spacing: 1px;
    
}

.about-me h2 {
    font-family: RobotoBold;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

/** FOOTER **/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #525e65;
    padding: 0;
    margin: 0;
    width: 100vw;
    clip-path: ellipse(80% 80% at 50% 100%);
    padding-top: 100px;
}

.footer * {
    margin-bottom: 40px;
}

/** SHOWCASE **/
.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    width: 100vw;
    margin: 0 5em;
}

.showcase-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
}

.showcase-item h2 {
    margin: 0;
}

.showcase-item:nth-child(even) {
    flex-direction: row-reverse;
}

.showcase-text {
    max-width: 40em;
    font-size: 1.2rem;
    letter-spacing: 1px;
    align-self: flex-start;
}

.showcase-image {
    align-self: flex-start;
    width: 25em;
    height: 15em;
    padding: 0;
    background-color: #525e65;
    box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.showcase-item:nth-child(even) .showcase-image {
    margin-left: 2em;
}

.showcase-item:nth-child(odd) .showcase-image {
    margin-right: 2em;
}

/** CV **/
.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    margin: 0 5em;
}

.cv h2 {
    font-family: RobotoBold;
    font-size: 2rem;
    margin: 3em 0;    
}

.cv p {
    margin-bottom: 3em;
    font-family: RobotoItalic;
    margin: 0;
}

.cv h3 {
    font-family: RobotoBold;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

.cv h4 {
    font-family: RobotoThin;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .about-me {
        margin: 0 1em;
        font-size: 1rem;
    }

    .project {
        width: 15em;
        background-position: center;
    }

    .header h1 {
        font-size: 5rem;
    }

    .footer {
        clip-path: ellipse(80% 80% at 50% 100%);
    }

    .showcase-item {
        flex-direction: column;
    }

    .showcase-item:nth-child(even) {
        flex-direction: column;
    }

    .showcase {
        width: auto;
        padding-top: 20px;
    }

    .showcase-image {
        width: 15em;
        height: 10em;
        margin-bottom: 5px;
    }

    .showcase-item:nth-child(even) .showcase-image {
        margin-left: 0;
    }
    
    .showcase-item:nth-child(odd) .showcase-image {
        margin-right: 0;
    }

    .showcase-text {
        max-width: 40em;
        font-size: 1rem;
        align-self: flex-start;
    }
}

@media only screen and (min-width: 1500px) {
    .about-me {
        margin: 10em 20em 0 20em;
    }
}