body {
    font-family: 'Source Sans Regular';
    overflow-x: hidden;
}

* {
    cursor: url('/assets/img/cursor.png'), auto !important;
}

.goal-item {
    border: 1px solid black;
    height: 15em;
    width: 15em;
    text-align: center;
    padding: 5px;
}

.goal-item > img{
    height: 6em;
}

@font-face {
    font-family: 'Source Sans Regular';
    src: url('/assets/css/font/SourceSansPro-Regular.woff2') format('woff2'), url('/assets/css/font/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Light';
    src: url('/assets/css/font/SourceSansPro-Light.woff2') format('woff2'), url('/assets/css/font/SourceSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@keyframes fade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.center {
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


/* Navbar */
.navbar-text-light {
    font-family: 'Source sans Light';
}

.navbar-brand {
    font-size: 2.5em;
}

.nav-link {
    font-size: 1.5em;
}

.accomplisments img {
    height: 100px;
    width: auto;
}

/* Header */
#header {
    margin-top: 15em;
    animation-name: fade;
    animation-duration: 4s;
    margin-bottom: 15em;
}

.btn-header {
    margin-top: 5em;
}

.header-h1 {
    font-size: 3.5em;
}

.header-h2 {
    font-family: 'Source sans Light';
}

/* projects */
#projects {
    margin-top: 15em;
    margin-bottom: 10em;
}

/* About */
#about {
    margin-top: 33em;
    margin-bottom: 10em;
}

.about-text {
    font-family: 'Source sans Light';
    font-size: 1.5em;
    padding: 1em 5em 0em 5em;
}

/* Contact */
#contact {
    margin-top: 37em;
    margin-bottom: 30em;
    text-align: center;
}

.contact-text {
    font-family: 'Source sans Light';
    font-size: 2em;
    padding: 0em 5em 0em 5em;
}

.contact-text-bottom {
    font-family: 'Source sans Light';
    font-size: 1.5em;
    display: inline-block;
    text-align: left;
}

/* Footer */
#footer {
    font-family: 'Source sans Light';
    padding-top: 2em;
    padding-bottom: 2em;
    color: white;
    background-color: #343a40;
}

.fa-2x {
    padding: 0px 5px 0px 5px;
    color: white;
}

@media screen and (max-width: 700px) {
    .contact-text {
        font-family: 'Source sans Light';
        font-size: 1em;
        padding: 0em 5em 0em 5em;
    }
    
    .contact-text-bottom {
        font-family: 'Source sans Light';
        font-size: 1em;
    }

    .about-text {
        font-family: 'Source sans Light';
        font-size: 1em;
        padding: 1em 5em 0em 5em;
    }
  }